<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sain.mapper.RequestMapper">

    <resultMap id="requestMap" type="Request">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="tel" property="tel" />
        <result column="location" property="location" />
        <result column="text" property="text" />
    </resultMap>
    
    <insert id="addRequest">
        insert into request values(0,#{name},#{email},#{tel},#{location},#{text})
    </insert>

    <select id="selectAllCount" resultType="int">
        select count(*) from request
    </select>

    <select id="selectAll" resultMap="requestMap">
        select * from request order by id desc limit #{offset},#{limit}
    </select>

</mapper>