<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sain.mapper.TrialMapper">

    <resultMap id="trialMap" type="Trial">
        <id column="trial_id" property="trialId" />
        <result column="user_id" property="userId" />
        <result column="car_id" property="carId" />
        <result column="trial_time" property="trialTime" />
        <result column="take_time" property="takeTime" />
        <result column="take_location" property="takeLocation" />
        <result column="tel" property="tel" />
        <result column="status" property="status" />
        <association property="car" javaType="Car">
            <id column="car_id" property="id" />
            <result column="type" property="type" />
            <result column="brand" property="brand" />
            <result column="model" property="model" />
            <result column="color" property="color" />
            <result column="seat" property="seat" />
            <result column="gear" property="gear" />
            <result column="fuel" property="fuel" />
            <result column="main_image" property="mainImage" />
            <result column="front_image" property="frontImage" />
            <result column="side_image" property="sideImage" />
            <result column="rear_image" property="rearImage" />
            <result column="isrenting" property="isRenting" />
            <result column="location" property="location" />
            <result column="rent" property="rent" />
            <result column="description" property="description" />
            <result column="isdelete" property="isDelete" />
            <result column="license_plate_number" property="number" />
        </association>
    </resultMap>
    
    <insert id="addTrial">
        insert into trial values(#{trialId},#{userId},#{carId},SYSDATE(),#{takeTime},#{takeLocation},#{tel},0)
    </insert>

    <update id="audit">
        update trial set status=1 where trial_id = #{id}
    </update>

    <update id="takeCar">
        update trial set status=2 where trial_id = #{id}
    </update>

    <update id="returnCar">
        update trial set status=3 where trial_id = #{id}
    </update>

    <select id="selectCountById" resultType="int">
        select count(*) from trial where user_id = #{id}
    </select>

    <select id="selectCountByAdmin" resultType="int">
        select count(*) from trial where car_id in (
        select car_id from cars where manager_id = #{id}
        )
    </select>

    <select id="selectById" resultMap="trialMap">
        select * from trial t1
        left join cars t2
        on t1.car_id = t2.car_id
        where user_id = #{id}
        order by trial_time desc
        limit #{offset},#{limit}
    </select>

    <select id="selectByAdmin" resultMap="trialMap">
        select * from trial t1
        left join cars t2
        on t1.car_id = t2.car_id
        where t1.car_id in (
        select car_id from cars where manager_id = #{id}
        )
        order by trial_time desc
        limit #{offset},#{limit}
    </select>

</mapper>