#端口号以及路径名配置
server:
  port: 8081
  servlet:
    context-path: /sain
    jsp:
      init-parameters:
        development: true

spring:
  #视图解析器
  mvc:
    view:
      prefix: /
      suffix: .html

  #数据源
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test_saien?useUnicode=true&characterEncoding=UTF8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456

  #上传文件大小限制
  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 2MB

mybatis:
  mapper-locations: classpath:/com/sain/mapper/*Mapper.xml
  type-aliases-package: com.sain.entity

logging:
  level:
    org:
      springframework:
        boot:
          autoconfigure: ERROR
