<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>

    <script src="../../layui/layui.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/jquery-1.8.3.js"></script>
    <script type="text/javascript">
        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#demo'
                ,cols: [[
                    {field: 'id', title: 'ID', width: 120, sort: true}
                    ,{field: 'name', title: '姓名', width: 150}
                    ,{field: 'email', title: '邮箱', width: 180}
                    ,{field: 'tel', title: '电话', width: 180}
                    ,{field: 'text', title: '内容', width: 300}
                ]]
                ,url: '../../request/selectAll'
                ,skin: 'line'
                ,even: true
                ,page: true
                ,limits: [10, 20, 50, 100]
                ,limit: 10
            });
        });
    </script>
    <script id="caoZuo" type="text/html">
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="toOpenUpdateLayer('{{d.id}}')">修改</button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="toDelete('{{d.id}}')">删除</button>
    </script>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-page-header">
    </div>
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <table id="demo"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>